.signup-wrapper{
    width: 70%;
    max-width: 400px;
    height: auto;
    box-shadow:0px 0px 30px 8px var(--shadow) ;
    border-radius: 1rem;
    padding: 1rem 1.5rem;

}

.title{
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    

}